:root {
    --clr-background: #172936;
    --clr-container: #253644;
    --clr-div: #172937;
    --clr-accent: #F06F21;
    --clr-border: #f070211a;
    --clr-text: #e3e5e7;
    --clr-grey: #A1A6AA;
    --clr-wh_background: #FFF7EC;
    --clr-text2: #dbe1e6;

}
* {
    transition: all 0.3s ease-in-out;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--clr-background);

}

::selection {
    background-color: var(--clr-accent);
    color: var(--clr-background);
}

#hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wide {
    display: flex;
    width: 100%;
    justify-content: center;
}

.sidebar {
    border: 1px solid var(--clr-border);
    border-radius: 20px;
    height: auto;
    width: 270px;
    /* width: 20%; */
    margin: 20px;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-container);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
.container {
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: none;
}
.topbar {
    border: 1px solid var(--clr-border);
    border-radius: 20px;
    background-color: var(--clr-container);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 900px;
    height: 95%;
    margin: 20px;
}

.topbar .avatar {
    width: 120px;
    height: 120px;
    background-color: var(--clr-wh_background);
    border-radius: 30px;
    margin: 30px;
}
.bottom {

    display: flex;
    flex-direction: column;
}
.bottom .name {
    margin-left: 8px;
}

.sidebar .avatar {
    width: 150px;
    height: 150px;
    margin-top: 60px;
    background-color: var(--clr-wh_background);
    border-radius: 20px;
}

.name {
    color: var(--clr-text2);
}

.year {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--clr-div);
    color: var(--clr-text);
}

hr {
    color: var(--clr-accent);
    width: 80%;
    opacity: 10%;
}

.info {
    padding-right: 20px;
}

.info p{
    color: var(--clr-text);
}

.info .head {
    color: var(--clr-grey);
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin: 0px 20px;
    padding: 10px;
    background-color: var(--clr-div);
    border-radius: 15px;
}

.icon .one {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.social {
    display: flex;
    justify-content: space-around;
    width: 100px;
    margin-top: 0px;
}

.website {
    color: var(--clr-grey);
    background-color: var(--clr-container);
    padding: 15px 0px 25px 0px;
}

.main {
    margin: 40px 20px 20px 20px;
    border: 1px solid var(--clr-border);
    border-radius: 20px;
    height: auto;
    width: 900px;
    padding-bottom: 100px;
    align-items: center;
    background-color: var(--clr-container);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.about {
    padding: 30px;
}

.about .items {
    color: var(--clr-text2);
}

.about h1 {
    margin: 0px;
    font-size: 30px;
}

.work {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    height: 35%;    
}

.skills {
    background-color: var(--clr-div);
    color: var(--clr-text);
    border-radius: 20px;
    width: 45%; 
    height: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.skills .left {
    width: 25%;
    font-size: 30px;
    height: 100%;
}

.skills .right {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 30px;
    margin-bottom: 30px;
}

.left .two {
    margin: 30%;
}

.main h1 {
    width: 100%;
    color: var(--clr-wh_background);
}

.link h2 {
    width: 100%;
    color: var(--clr-text);
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 340px;
}


.link {
    width: 40%;
    border-radius: 20px;
    padding: 0px 3%;
    background-color: var(--clr-div);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.testi {
    display: flex;
    flex-direction: column;
    padding: 3%;
    justify-content: space-evenly;
    height: 100%;
}
.testhead {
    /* border: 1px solid red; */
    width: 100%;

}

hr, i {
    color: var(--clr-accent);
    background-color:  var(--clr-div)
}

#line {
    width: 40px;
    height: 5px;
    border-radius: 10px;
    margin: 20px 100% 20px 0px;
    color: var(--clr-accent);
    background-color: var(--clr-accent);
    opacity: 100%;
    border: 0px;
}

@media screen and (max-width: 1260px) {
    .sidebar {
        display: none;
    }
    .container {
        display: flex;
    }
}

@media screen and (max-width: 1010px) {
    .work {
        height: auto;    
    }
    .main {
        height :auto;
        padding-bottom: 30px;
    }
    .skills {
        width: 80%;
        height: 45%;
        margin-bottom: 20px;
    }
    .testi {
        flex-direction: column;
    }
    .links {
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        /* border: 1px solid red; */
        /* margin: auto 30px; */
    }
    .link {
        width: 100%;
        padding-bottom: 30px;
        margin: 30px;
    }
    .yt {
        height: 150%;
    }
    .image {
        display: flex;
        justify-content: center;
    }
    .img {
        height: 100%;
        width: 80%;
        margin-bottom: 30px;   
    }
}
@media screen and (max-width: 600px) {
    #hero {
        padding:30px 5px;
    }
}